<% provide(:title, 'このアプリについて') %>

<h1>このアプリについて</h1>

<p>・スケジュール管理/情報共有アプリ(仮)は、
  <a href="https://twitter.com/">某アプリ</a> を参考にした、床井くんの完全オリジナルのアプリです。
  会社やサークルで、仲間内でスケジュールを共有したり、ちょっとした打ち合わせをするのに使えるアプリです！</p>

  
  
<p>・使い方はいたってシンプル！メンバーの皆に伝えたいことを呟けば、あなたのフォロワー全員がそれを目にすることができます！</p>
  
  
<p>・googleカレンダーが同期しているので、組織の予定を全員が共有することができます！予定を加えたい場合は、組織の管理者に相談しよう！</p>
