<h1>スケジュール管理/情報共有アプリ</h1>

<p>Hi <%= @user.name %>,</p>

<p>
スケジュール管理/情報共有アプリにようこそ！アカウントを有効化する場合は、下のリンクを押してください。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>